.cool-class {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#an-id {
    color: blue;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#another-id {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}